@mixin table-block {
  border-radius: 5px;
  padding: 5px;
  background-color: aliceblue;
}

.table {
  min-height: 700px;
  min-width: 700px;
  border: 1px solid black;

  padding: 10px;
  border-radius: 10px;
  background-color: white;

  &__row {
    color: black;
  }

  &__header {
    @include table-block;
  }
  &__body {
    @include table-block;
    border: 1px solid gray;
  }
}

.row {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;

  transition: 0.2s ease;

  &:hover {
    background-color: beige;
  }
}

.cell {
  color: black;
  border: 1px solid black;
  padding: 2px;

  text-align: center;
  vertical-align: middle;

  &__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    &_unloaded {
      justify-content: center;
    }
  }
}
