.period-checker {
  border-bottom: 1px solid #ebedec;

  &__list {
    display: flex;
    justify-content: center;

    &__item {
      color: black;
      width: 135px;
      text-align: center;
      background: #e9ecf1;
      border-right: 1px solid #c1c4c9;
      padding: 13px 15px;
      cursor: pointer;
      transition: all 0.2s ease;

      border-radius: 0px;

      &:first-child {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      &:last-child {
        border-right: 0px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }

      &:hover,
      &.active {
        background: black;
        color: #fff;
      }
    }
  }
}
